{% extends 'layout.html' %}
{% block body %}

<div class="topPage">
  <h1 align= "center" >About Super Biology </h1>
</div>

<div class ="references">
  <p align="center"> SUperBiology was built using the FLask framework and Amazon Web Services and the hard work of Seattle University
  undergraduates. Our goal was to have students help students.</p>

    <div style = 'background-color: #e8edf4;'>
    <p style = 'padding-left: 30px;'>
      Resources used in creation on simulations: <a href = "http://www.uniprot.org/uniprot/P00722">Beta-Galactasidase rate constants</a> and <a href = 'http://gbe.oxfordjournals.org/content/7/6/1815.full.pdf+html'>mutation rates</a><br><br>
      Framework/modules used: Jinja, Flask, pyGal, WTForms<br><br>
      Seattle University: SeattleU Biology Department using Amazon Web Services<br><br>
      Contact: <a href='https://www.seattleu.edu/scieng/about/faculty-and-staff/robert-rutherford-phd.html'>Professor Rutherford</a><br>
    </p>
  </div>

</div>
{% endblock %}
